<footer>
  <div class="row">
    <div class="col-full">
      <div class="footer-logo">
        <a class="footer-site-logo" href="#0"><img src="{{site.baseurl }}/{{ site.plainwhite.portfolio_image }}" alt="{{ site.plainwhite.name }}" /></a>
      </div>
      <!--{%- include article/footer/social.html -%} -->
    </div>
  </div>
  <div class="row footer-bottom">
    <div class="col-twelve">
      <div class="go-top">
        <a class="smoothscroll" style="margin: 3rem 0" title="Back to Top" href="#top">
          <p style="font-size: 36px;"> TOP </p>
        </a>
      </div>
    </div>
  </div>
</footer>
